<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>
    一键demo部署:<br>
    <label><input name="Fruit" type="radio" value="" />web应用:firewall+dpi </label>
    <label><input name="Fruit" type="radio" value="" />ims:clearwater</label>
    <label><input name="Fruit" type="radio" value="" />ims:openimscore </label>
    <br><a class="btn" href="../vnf" style="color:black;">确定部署</a>
    <br><br><br><br>
    vnf管理:<br>
    <a class="btn" href="../vnf" style="color:black;">查看vnfd</a><br>
    <a class="btn" href="../vnf" style="color:black;">添加vnfd</a><br>
    <a class="btn" href="../vnf" style="color:black;">删除vnfd</a><br>
    <a class="btn" href="../vnf" style="color:black;">查看vnf实例</a>
    <br><br><br><br>

    ns管理:<br>
    <a class="btn" href="../vnf" style="color:black;">查看nsd</a><br>
    <a class="btn" href="../vnf" style="color:black;">添加nsd</a><br>
    <a class="btn" href="../vnf" style="color:black;">删除nsd</a><br>
    <a class="btn" href="../vnf" style="color:black;">查看ns实例</a><br>
    <a class="btn" href="../vnf" style="color:black;">部署ns实例</a><br>
    <a class="btn" href="../vnf" style="color:black;">删除ns实例</a><br>
    <br><br><br><br>
    algorithm管理:<br>
    <a class="btn" href="../vnf" style="color:black;">algorithm管理</a>
</body>
</html>